# Entorno virtual de Poetry
.venv/
venv/
ENV/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
